:root{
    --off-white: #eee;
    --soft-black: #020202;
    --white: #f2f5f5;
    --main-green: #558b2f;
    --icons: #1E3050;
    --grey: #646464;
}

.search-bar{
    display: flex;
}
.search-bar__container{
    position: relative;
    width: 100%;
}
.search-bar__container input{
    width: 100%;
    padding: .25rem;
    font-size: .85rem;
    font-family: 'Poppins';
}
.search-bar__container i{
    font-size: .85rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .75rem;
}



.filter-items{
    margin: 1rem 0;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-items P:first-child{
    text-align: start;
}
.filter-items p{
    font-size: .8rem;
    width: 100%;
    text-align: center;
}
#active-filter{
    color: var(--main-green);
}



.companies-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    border-radius: 10px;
    padding: .75rem;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    background-color: var(--white);
}
.companies-list > * {
    width: 100%;
    display: flex;
    align-items: center;
}




.card-row{
    display: flex;
    gap: .25rem;
    margin: 1rem 0;
}
.card-row:last-child{
    margin-bottom: 3rem;
}

.card{
    width: 50%;
    background-color: var(--white);
    padding: .75rem .75rem 0;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.card-img{
    height: 50%;
    overflow: hidden;
}

.card-item__price{
    font-size: .815rem;
}
.card-item__reviews img{
    width: 50px;
}
.card-item__shipping-details {
    display: flex;
    gap: .25rem;
    align-items: center;
}
.card-item__shipping-details i {
    font-size: .7rem;
    display: flex;
    align-items: center;
}
.card-item__shipping-details p{
    font-size: .6rem;
}
.card-item__location-details{
    display: flex;
    gap: .25rem;
    align-items: center;
}

.fade-in{
    transform: translateY(-25px);
    opacity: 0;
}

@keyframes fade-in {
    from{
        transform: translateY(-25px);
        opacity: 0;
    } to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.card-row .fade-in:nth-child(2).reveals{
    animation: fade-in 1s .2s forwards;
}
.fade-in.reveals{
    animation: fade-in 1s forwards;
}

.first-card{
    animation: fade-in 1s forwards;
}